@import '~bootstrap/scss/bootstrap';

body{
    background: linear-gradient(to right, #282828 0%, #f5fafa 100%);

}


.navbar .navbar-brand,
.navbar a.nav-link {
    color: #fff !important;
}

label
{
    color: #FFF;
}
