@import '~bootstrap/scss/bootstrap';

body{
    background-image: linear-gradient(to right, #282828 0%, #f5fafa 100%);
}


.navbar .navbar-brand{
    color: #fff !important;
}
.navbar a.nav-link {
    color: #1a1e21;
}
